html {
  font-size: 10px; /* px значит 'пиксели': базовый шрифт будет 10 пикселей в высоту  */
  font-family: href="https://fonts.googleapis.com/css2?family=Grandstander:wght@300&display=swap" rel="stylesheet";
}

h1 {
  font-size: 60px;
  text-align: center;
}

p, li, a {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
}

html {
  background-color: #a8e7f6;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #beffc1;
  padding: 0 20px 20px 20px;
  border: 1px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;    
  color: #000000;
  text-shadow: 5px 5px 2px white;
}

img {
  width: 400px;
  height: 500px;
  display: block;
  margin: 0 auto;
}